<div class="container">
  <div class="login_box">
      <div class="gz_margin">
          <h4>회원 가입</h4>
      </div>
      <div class="login_form">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              
          <div class="input_box gz_margin">
            <%= f.input :email, required: true, label: false,autofocus: true,:input_html => { :class => 'input_form',:placeholder => "email" } %>
            <%= f.input :password, required: true,label: false, hint: ("#{@minimum_password_length} 자 이상 비밀번호를 입력해주세요" if @minimum_password_length),:input_html => { :class => 'input_form',:placeholder => "Password" }%>
            <%= f.input :password_confirmation, label: false,required: true,:input_html => { :class => 'input_form',:placeholder => "password check"}  %>
          </div>

          <div class="form-actions gz_margin">
            <%= f.button :submit, "Sign up",class: 'create_button' %>
          </div>
        <% end %>
    </div>
    <div class="shared_link ">
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<style>

    .login_box{
   
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

</style>