<div class="container">
  <div class="login_box">
    <div class="gz_margin">
        <h4>비밀번호 찾기인데 구현안했어요 히히...ㅠㅠ</h4>
    </div>
    <div class="login_form">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
    
        <div class="form-inputs input_box gz_margin">
          <%= f.input :email, required: true,label: false, autofocus: true,:input_html => { class: 'input_form',placeholder: "email" } %>
        </div>

        <div class="form-actions input_box gz_margin">
          <%= f.button :submit, "Send me reset",class: "create_button" %>
        </div>
      <% end %>
      <div class="shared_link">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<style>

.login_box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
   
</style>