<%= form_with(model: mycoin, local: true) do |form| %>
  <% if mycoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mycoin.errors.count, "error") %> prohibited this mycoin from being saved:</h2>

      <ul>
      <% mycoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.select :category,Coin.coinnest, include_blank: true %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :mycoin_price %>
  </div>
  <div class="field">
    <%= form.label :deposit %>
    <%= form.text_field :deposit, id: :mycoin_deposit %>
  </div>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, id: :mycoin_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
