<%= form_with(model: mycoin, local: true) do |form| %>
  <% if mycoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mycoin.errors.count, "error") %> prohibited this mycoin from being saved:</h2>

      <ul>
      <% mycoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <%= form.select :category,Coin.coinnest, include_blank: true %> -->

  <%= form.select :category, Coin.exchangeStore, include_blank: true %>
  <select  name="mycoin[coinname]" id ="coinList">
      <option value="a"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>  
  </select>

  <div class="field">
    <%= form.label "매수 금액을 적어주세요 ex) 38860,35 " %>
    <%= form.text_field :price, id: :mycoin_price %>
  </div>
  <div class="field">
    <%= form.label "입금 금액을 적어주세요 " %>
    <%= form.text_field :deposit, id: :mycoin_deposit %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, id: :mycoin_user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<script>

$(document).ready(function(){

  $("select[name='mycoin[category]']").change(function(){
    var exchangeStore = $("select[name='mycoin[category]']").val();
    if (exchangeStore != ""){ 
      getCoinList(exchangeStore);
    }
  });

});
  
function getCoinList(exchangeStore){
  select_exchangeStore = {"store": exchangeStore};
  
  $.ajax({
    url: "/mycoins/storechecking",
    type:"get",
    dataType: "json",
    data: select_exchangeStore,
    success: function(data){
      setCoinList(data);
      $('#local').append(' <span class="caret"></span>');
    }
  })
}

function setCoinList(data){
  $('select[name="mycoin[coinname]"]').empty();
  for (index in data){

    for( i in data[index]){

        $('select[name="mycoin[coinname]"]').append('<option value="'+ data[index][i][1]+'">'+ data[index][i][0] + "</option>" );  
    
    }
  }
}


</script>
