<%= form_with(model: mycoin, local: true) do |form| %>
  <% if mycoin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mycoin.errors.count, "error") %> prohibited this mycoin from being saved:</h2>

      <ul>
      <% mycoin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <%= form.select :category,Coin.coinnest, include_blank: true %> -->

  <div class="select_form">
    <%= form.select :category, Coin.exchangeStore, include_blank: true %>
    <select  name="mycoin[coinname]" id ="coinList">
        <option value="a"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </option>  
    </select>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label field_block">
    <%= form.label "매수 금액을 적어주세요 ex) 38860,35 ",class: "mdl-textfield__label" %>
    <%= form.text_field :price, id: :mycoin_price,class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
  <div class="field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.label "입금 금액을 적어주세요 ",class: "mdl-textfield__label" %>
    <%= form.text_field :deposit, id: :mycoin_deposit,class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, id: :mycoin_user_id, value: current_user.id %>
  </div>

  <div class="actions mdl-button mdl-js-button">
    <%= form.submit %>
  </div>
<% end %>
<style>
.select_form{
  margin: 10px;

}
.field_block{
  display: block;
}
</style>


<script>

$(document).ready(function(){

  $("select[name='mycoin[category]']").change(function(){
    var exchangeStore = $("select[name='mycoin[category]']").val();
    if (exchangeStore != ""){ 
      getCoinList(exchangeStore);
    }
  });

});
  
function getCoinList(exchangeStore){
  select_exchangeStore = {"store": exchangeStore};
  
  $.ajax({
    url: "/mycoins/storechecking",
    type:"get",
    dataType: "json",
    data: select_exchangeStore,
    success: function(data){
      setCoinList(data);
      $('#local').append(' <span class="caret"></span>');
    }
  })
}

function setCoinList(data){
  $('select[name="mycoin[coinname]"]').empty();
  for (index in data){

    for( i in data[index]){

        $('select[name="mycoin[coinname]"]').append('<option value="'+ data[index][i][1]+'">'+ data[index][i][0] + "</option>" );  
    
    }
  }
}


</script>
