<div class="container">
<p id="notice"><%= notice %></p>

<h1>Mycoins</h1>

<table>
  <thead>
    <tr>
      <th>코인이름</th>
      <th>산가격</th>
      <th>현재가격</th>
      <th>평가손익</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mycoins.each do |mycoin| %>
      <% 
          now = Coin.coinnest_getdata(mycoin.coinname)
          value = Coin.coin_result(mycoin.price,now)

      %>
      <tr>
        <td><%= mycoin.coinname %></td>
        <td><%= mycoin.price %></td>
        <td><%= now %></td>
        <td id="value"><%= value %></td>
        <td><%= link_to 'Edit', edit_mycoin_path(mycoin) %></td>
        <td><%= link_to 'Destroy', mycoin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mycoin', new_mycoin_path %>
</div>

<script>
 if($("#value")[0].innerHTML)

</script>