<div class="container">
<p id="notice"><%= notice %></p>
<h4>사용시 주의사항</h4>
<p>새로고침 빨리하면 에러납니다....나면 1분뒤에 새로고침 해주세요</p>
<p>현재금액 가격이 잘못 나올 경우가 있습니다. 이점 유의해주세요 </p>
<!-- Coinnest -->
<h3>COINNEST</h3>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp
">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">코인이름</th>
      <th class="mdl-data-table__cell--non-numeric">산가격</th>
      <th class="mdl-data-table__cell--non-numeric">현재가격</th>
      <th class="mdl-data-table__cell--non-numeric">입금금액</th>
      <th class="mdl-data-table__cell--non-numeric">현재금액</th>
      <th class="mdl-data-table__cell--non-numeric">평가손익</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coinnest.each do |mycoin| %>
      <tr>
        <% 
          if(mycoin.category=="C")
            now = Coin.coinnest_getdata(mycoin.coinname)
          end
           
            value = Coin.coin_result(mycoin.price,now)
        %>
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.coinname %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.price %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= now %></td>
        
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.deposit%></td>

        <td class="mdl-data-table__cell--non-numeric coin_price"><%= Coin.coin_price(mycoin.deposit,value)%></td>
        <td class="mdl-data-table__cell--non-numeric value"><%= value %>%</td>
        <!-- <td><%= link_to 'Edit', edit_mycoin_path(mycoin) %></td> -->
        <td><%= link_to 'Destroy', mycoin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>UPBIT</h3>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">코인이름</th>
      <th class="mdl-data-table__cell--non-numeric">산가격</th>
      <th class="mdl-data-table__cell--non-numeric">현재가격</th>
      <th class="mdl-data-table__cell--non-numeric">입금금액</th>
      <th class="mdl-data-table__cell--non-numeric">현재금액</th>
      <th class="mdl-data-table__cell--non-numeric">평가손익</th>
      <th class="mdl-data-table__cell--non-numeric"colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upbit.each do |mycoin| %>
      <tr class="mdl-data-table__cell--non-numeric">
        <% 
          if(mycoin.category=="U")
            now = Coin.upbit_getdata(mycoin.coinname)
          end
            value = Coin.coin_result(mycoin.price,now)
        %>
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.coinname %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.price %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= now %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= mycoin.deposit %></td>

        <td class="mdl-data-table__cell--non-numeric coin_price"><%= Coin.coin_price(mycoin.deposit,value)%></td>
        <td class="mdl-data-table__cell--non-numeric value" ><%= value %>%</td>
        <!-- <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_mycoin_path(mycoin) %></td> -->
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', mycoin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mycoin', new_mycoin_path %>
</div>
<style>
#value{
  color:black;
}
</style>

<script>
  $( document ).ready(function() {
    result =$(".value");

    for(i=0;i<result.length;i++){
     if(result[i].innerHTML[0] == "-"){
       console.log(result[i].innerHTML)
       result[i].style.color ="blue";
     }
     else{
        result[i].style.color ="red";
     }
    }

    coin_price =$(".coin_price");
    sum = 0 ;
    for(i = 0 ; i <coin_price.length;i++){
      sum += coin_price[i].innerHTML;
    }
  });
</script>